body {
    background-color: #1E1E1E;
}

.container {
    background-color: #84837D;
    margin: 0;
    max-width: 1240px;
    max-height: 170px;
}

.navbar {
    display: inline-flex;
}

#Main {
    background-color: #FFD700;
    margin: auto;
    padding: 10px 50px 10px 50px;
    border-radius: 15px;
    margin-left: 17px;
    margin-right: 7px;
}

.others {
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #D9D9D9;
    margin: auto;
    margin-left: 7px;
    margin-right: 7px;
}

.register-user {
    border-radius: 15px;
    background-color: #D9D9D9;
    padding: 5px 0px 5px 0px;
    margin: auto;
    margin-left: 17px;
}

.nav {
    display: flex;

}

.container-login {
    background-color: #5C5B57;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 350px;
    margin-top: 40px;

}

.form-group {
    width: 416.67px;
    margin-top: 10px;
    color: white;
}

form {
    padding-left: 30px;
    margin-top: 50px;
}

.logo-user-login {
    margin-top: 40px;
    margin-left: 195px;
    width: 83px;
    height: 83px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.bi-person-fill {
    margin-left: 14px;
    margin-top: 25px;
}

.form-control {
    background-color: #D9D9D9;
    height: 41.7px;
}

button  {
    border: none;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 155px;
    margin-top: 30px;
}

.container-register  {
    background-color: #5C5B57;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 350px;
    margin-top: 40px;
}

.logo-user-register {
    margin-top: 30px;
    margin-left: 195px;
    width: 83px;
    height: 83px;
    background-color: #D9D9D9;
    border-radius: 20px;
}

.form-register {
    padding-left: 30px;
    margin-top: 0;
}

#register-button {
    border: none;
    padding: 10px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-left: 140px;
    margin-top: 25px;
}

.container-add-mission {
    background-color: #84837D;
    margin: auto;
    width: 1040px;
    height: 350px;
    border-radius: 20px;
}

.client-creation {
    display: flex;
    top: 165px;
    position: absolute;
    left: 815px;
    z-index: 3;
    padding: auto;

}

#information_client {
    display: none; /*------------il faudra le modifier--------------*/
    background-color: #84837D;
    position: absolute;
    left: 100px;
    top: 219px;
    z-index: 2;
    padding: 20px;
}

div#information_client {
    border-radius: 20px;
}

div#information_client h2 {
    padding: 20px;
}

#information_client label {
    padding-left: 23px;
    margin-top: 7%;
}

#add_client {
    background-color: #FFD700;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    margin-left: 29%;
    position: absolute;
    margin-top: 6%;
}

#toggle_type {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 3;
}

.content {
    display: flex;

}

.add-image {
    margin-top: 275px;
}

.creation-transformation {
    display: block;
    margin: auto;
    padding-top: 65px;
}

#show_client_information {
    position: absolute;
    left: -80px;
    top: 0;
}

.add_client {
    margin-left: 370px;
    margin-top: 100px;
}

#create_mission {
    margin-left: 63%;
    margin-top: 10px;
}

form#operation_form {
    background-color: #84837D;
    text-align: start;
    padding: 20px;
    padding-top: 300px;
    border-radius: 20px;
    width: 40%;
}

#description {
    height: 30px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
}

form#operation_form div {
    margin-bottom: 10px;
}

form#operation_form div label {
    display: table-cell;
}

#operation_button {
    border-radius: 10px;
    padding: 5px;
    margin-left: 60%;
}

input#work_time {
    border-radius: 10px;
    width: 100%;
    border: none;
    margin-top: 5px;
}

#metal_adding {
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    border: 3px solid black;
    margin-left: 60%;
}

#gem_adding {
    border-radius: 10px;
    padding: 5px;
    background-color: white;
    border: 3px solid black;
    margin-left: 60%;
}